.card-body p {
  margin: 0;
  font-size: 13px;
}

.grid-wrapper{
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.grid-wrapper li{
  color: #000;
  list-style-type: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.main-container{
  width: 92%;
  margin: 0 auto;
  padding:2rem 0rem;
}

.new-card {
  position: relative;
  border: 3px grey dashed;
  cursor: pointer;
}

.new-card:hover {
  background-color: #13131329;
  transition: .5s;
}

@media only screen and (max-width: 900px) {
  .logo-img {
    width: 170px !important;
  }
  .css-2m1m42-MuiGrid-root {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .new-card {
    display: none;
  }

  .user-detail {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}